<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOM</title>
</head>
<body>
    <h1 id="para">Ben-vindos a pagina da Maravilha Bambi</h1>
<p class="p" id="par">A vida é cheia de quedas,porem as quedas as vezes 
    
    é necessária para <br/> nos tornar forte,mas  forte mesmo , e levantarmos depois de cada querda .  </p>


    <script src="../assets/js/DOM.js"></script>
</body>
</html>