<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../assets/css/shop.css">
    <title>Shop</title>
</head>
<body>


    <header>
         <nav class="container">
            <h2>MARA.</h2>
            <ul class="container2">
                <li> <a  class="a" href="shop.html">Shop</a></li>
                <li>Collections</li>
                <li>Men</li>
                <li>Women</li>
            </ul>
        </nav>

    </header>
    </header>
     <section class="foto1">
        <div class="letras">
            <h1>Wear the Culture. <br> Own the Streets.</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing
                elit. <br> Sint a nobis rem nihil! Laborum quibusdam architecto possimus quaerat magnam</p>
           
        </div>
       
    </section>
</body>
</html>